<% include ../partials/header%>

<section class="forgot d-flex justify-content-center align-items-center mt-3 h-100 ">
    <div class="form-box w-25 ">
        <form method="post" action="/forgot">
            <div class="form-group">
                <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Wprowadź email">
            </div>
            <button type="submit" class="btn btn-primary w-100">Submit</button>
        </form>
    </div>
</section>

<% include ../partials/footer%>