<div class="modal fade" id="ModalAddHDD" tabindex="-1" role="dialog">
    <div class="modal-dialog  modal-small " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Dodaj nową pojemość</h5>
                <button type="button" class="close modalCloseAddParam" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-control">
                        <input class="form-control" type="text" id="hdd" name="hdd">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary modalParametrClose" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary modalParametrSave" data-dismiss="modal">Save changes</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ModalAddColor" tabindex="-1" role="dialog">
    <div class="modal-dialog  modal-small " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Dodaj nowy kolor</h5>
                <button type="button" class="close modalCloseAddParam" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-control">
                        <input class="form-control" type="text" id="color" name="color">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary modalParametrClose" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary modalParametrSave" data-dismiss="modal">Save changes</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ModalAddSize" tabindex="-1" role="dialog">
    <div class="modal-dialog  modal-small " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Dodaj nową przekątna ekranu</h5>
                <button type="button" class="close modalCloseAddParam" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-control">
                        <input class="form-control" type="text" id="size" name="size">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary modalParametrClose" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary modalParametrSave" data-dismiss="modal">Save changes</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ModalAddConn" tabindex="-1" role="dialog">
    <div class="modal-dialog  modal-small " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Dodaj nowy standard połaczenia</h5>
                <button type="button" class="close modalCloseAddParam" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-control">
                        <input class="form-control" type="text" id="connection" name="connection">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary modalParametrClose" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary modalParametrSave" data-dismiss="modal">Save changes</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ModalAddRam" tabindex="-1" role="dialog">
    <div class="modal-dialog  modal-small " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Dodaj nową możliwość ram</h5>
                <button type="button" class="close modalCloseAddParam" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-control">
                        <input class="form-control" type="text" id="ram" name="ram">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary modalParametrClose" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary modalParametrSave" data-dismiss="modal">Save changes</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ModalAddRes" tabindex="-1" role="dialog">
    <div class="modal-dialog  modal-small " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Dodaj nowa rozdzielczość</h5>
                <button type="button" class="close modalCloseAddParam" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-control">
                        <input class="form-control" type="text" id="res" name="res">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary modalParametrClose" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary modalParametrSave" data-dismiss="modal">Save changes</button>
            </div>
        </div>
    </div>
</div>